.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
.venv/
.env
.pynb_checkpoints/
*.log
.DS_Store
wandb/
examples.json
*.pyc
paper/paper.tex
paper/paper.pdf
paper/paper_files/
/.luarc.json
results/
data/*.jsonl
